.bebas_neue{
    font-family: 'Bebas Neue', sans-serif;
}
.cookie{
    font-family: 'Cookie', sans-serif;
}
.lato{
    font-family: 'Lato', sans-serif;
}

body{
    
}

nav a:hover{
    color: red;
    border: 1px solid red;
    padding: 3px;
    border-radius: 10%;
}
